@media (max-width: 952px) {
  /* Tablet */

  /** Header */
  header {
    border-bottom: 1px solid #ffff;
  }
  .lisdw {
    display: flex;
  }
  .list {
    display: none;
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    width: 90%;
    background: var(--background-cl);
    border: 1px solid #ffff;
    border-top: none;
    border-radius: 0 0 10px 10px;
    z-index: 3;
    padding: 45px 30px;
  }

  .home img {
    display: none;
  }
  .list ul {
    align-items: flex-start;
    flex-direction: column;
  }

  .list ul li a {
    font-family: var(--font-monts);
    color: #fff;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
    padding: 0 20px 0 0;
  }
  .menu-label img {
    width: 38px;
    height: 30px;
  }
  #menu-toggle:checked + .list {
    display: flex;
  }

  #cart-label {
    padding-right: 0px;
  }

  /**  Hero */

  .img-pizzas {
    display: none;
  }

  .hero-title > h1 {
    font-size: 3rem;
  }
  .hero-title > h2 {
    font-size: 2.5rem;
  }
  .hero-title > p {
    font-size: 1.1rem;
  }
  /* #label-button {
    left: 25%;
  } */

  /*! Recomendacion  */
  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #hero {
    padding-bottom: 270px;
  }
}
