:root {
  /* Color */
  --background-cl: #131415;
  --Fonts-wt: #ffffff;
  /* Fonts */
  --font-monts: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: Open-Sans, sans-serif; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 80px; */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-monts);
  gap: 80px;
  color: #fff;
  padding-right: 100px;
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
  gap: 10px;
  color: #fff;
}
.casita {
  width: 35px;
  height: 35px;
}

.usernaranja {
  width: 48px;
  height: 45px;
  padding-left: 20px; 
}

.logo {
  width: 70px;
  height: 70px;
  padding: 20px 0 0 80px;
}

body {
  background-color: var(--background-cl);
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding-top: 150px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Fonts-wt);
  font-family: var(--font-monts);
}
.hero-title > h1 {
  font-size: 4rem;
  line-height: 78px;
}

.hero-title > h2 {
  padding: 10px 120px 0 0;
  font-size: 3.2rem;
  line-height: 66px;
  /* position: absolute;
  right: 520px;
  left: 392px;
  bottom: 900px;
  top: 200px;  */
}

.hero-title > p {
  font-size: 1.2rem;
  line-height: 56px;
  font-weight: 300;
  padding-left: 8px;
  font-family: var(--font-monts);

  /* position: absolute;
  right: 620px;
  left: 394px;
  bottom: 900px;
  top: 325px; */
}
#label-button {
  position: absolute;
  right: 620px;
  left: 380px;
  bottom: 900px;
  top: 500px;
  width: 166px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 15px;
  font-family: var(--font-monts); /*! Colocar Font */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--Fonts-wt);
}

.img-pizzas {
  display: flex;
}

#Pizza-hero-1 {
  width: 265px;
  height: 265px;
  position: absolute;
  top: 200px;
  bottom: 0;
  right: 0px;
  left: 1100px;
}
#Pizza-hero-2 {
  width: 392px;
  height: 392px;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 1220px;
  right: 0;
}

/*Categorias*/
#categorias{
  background-color: #131415;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  max-width: 1200px;
  padding: 2rem;
  gap: 10px;
  font-family: var(--font-monts);
}


#categorias-card-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;  
  gap: 15px;
}

.categorias-card{
  position: relative;
  width: 147px;
  height: 171px;
  background-color: #363636;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}


.img-principal{
  z-index: 10;
}

.img-secundaria{
  position: absolute;
  top:22px;
  left: 35px;
  filter: blur(4px);
}

.img-secundaria-pizza{
  position: absolute;
  top:30px;
  left: 40px;
  filter: blur(4px);
}


.categorias-name{
  text-align: center;
  font-size: 13px;
  font-weight:500;
}

.categorias-decoration{
  background: linear-gradient(45deg, #FFA400,#FC2933);
  height: 3px;
  width: 20px;
  border-radius: 5px;
}