:root {
  /* Color */
  --background-cl: #131415;
  --Fonts-wt: #ffffff;
  /* Fonts */
  --font-monts: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: Open-Sans, sans-serif; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-monts);
  gap: 80px;
  color: #fff;
  padding-right: 100px;
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
  gap: 10px;
  color: #fff;
}
.casita {
  width: 35px;
  height: 35px;
}

.usernaranja {
  width: 48px;
  height: 45px;
  padding-left: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  padding: 20px 0 0 80px;
}

body {
  background-color: var(--background-cl);
}

/* Hero */
#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
  width: 100%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start;
  color: var(--Fonts-wt);
  font-family: var(--font-monts);
  padding-left: 4%;
}
.hero-title > h1 {
  font-size: 4rem;
  line-height: 78px;
}

.hero-title > h2 {
  font-size: 3.2rem;
  line-height: 66px;
}

.hero-title > p {
  font-size: 1.2rem;
  line-height: 56px;
  font-weight: 300;
  font-family: var(--font-monts);
}
#label-button {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 166px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 15px;
  font-family: var(--font-monts); /*! Colocar Font */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: var(--Fonts-wt);
}
.hero-title > label {
  padding-top: 20px;
}

.img-pizzas {
  display: flex;

  /* padding-left: 2%; */
}

#pizza-hero-1 {
  width: 18rem;
  height: 18rem;
  background: no-repeat center/80% url(Assets/Hero/image\ 34.svg);
  position: relative;
  top: -28;
  left: 190;
}
#pizza-hero-2 {
  width: 24rem;
  height: 20rem;
  background: no-repeat center/80% url(Assets/Hero/pizza\ 2.svg);
  position: relative;
  top: -80px;
  z-index: 2;
}
